/* FileUpload.css */

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-upload-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this value to control the space between buttons and the file name */
}

.selected-file-name {
  font-size: 16px;
  color: #555;
  white-space: nowrap; /* Prevent line breaks for the file name */
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis if the file name overflows */
}

.popup {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this value to control the space between the text and the "Close" button */
  margin-top: 20px;
  font-size: 18px;
  color: #1890ff; /* Primary color */
}

.popup span {
  font-weight: bold;
}
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup p {
  font-size: 18px;
  margin-bottom: 10px;
}

.close-button {
  width: 100px;
}
